.section-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  max-width: 1248px;
}
.section-resources .copys-resources {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
}
.copys-resources p {
  color: var(--base-500);
}

@media screen and (max-width: 768px) {
  .section-resources {
    box-sizing: border-box;
    padding: 16px;
  }
  .section-resources .copys-resources {
    width: 100%;
  }
}
