.section-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  max-width: 1248px;
}
.section-resources .copys-resources {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
}
.copys-resources p {
  color: var(--base-500);
}
.horizontal-cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 800px;
  max-width: 1248px;
  height: 900px;
  gap: 36px;
  overflow-x: scroll;
}
