@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import "styles/colors.css";
:root {
  font-family: "Sora", sans-serif;

  /* color-scheme: light dark; */
  color: var(--base-600);
  background-color: var(--base-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
  /* text-size-adjust: 100%; */
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--primary-color);
}
a {
  font-weight: 500;
  font-size: 1rem;
  color: var(--base-400);
  text-decoration: inherit;
}
a:hover {
  color: var(--base-300);
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-height: 100vh;
/* cursor: none; */

}
@media screen and (max-width: 768px) {
  body {
    cursor: auto;
  }
  
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
button {
  border: none;
  border-radius: 40px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  color: #fff;
}
button:hover {
  background-color: var(--base-500);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--base-700);
    background-color: var(--base-100);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
