.section__education{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  text-align: left;
  align-items: center;
}
.section__education > *{
  flex: 1 1 0
}
.education__content-list{
  list-style: none;
  padding: 0;
  color: var(--base-500);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.education__content{
  box-sizing: border-box;
  padding: 4em;
}
.education__content h2{
  color: var(--primary-color);
}
.education__image-container{
  display: flex;
  align-items: center;
}
.education__image{
  width: 100%;
  border-radius: 24px 0 0 24px;
}
.scolarships__content-container :last-child{
  width: 100px;
}
@media screen and (max-width: 768px) {
  .section__education{
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
  }
  .education__image{
    width: 100%;
    border-radius: 0;
  }
  .education__content{
    padding: 16px;
  }
  .scolarships__content-container :last-child{
    width: 100%;
  }
}