.section-education {
  background-color: var(--base-white);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.section-education-container {
  max-width: 1248px;
  width: 100%;
  border-radius: 24px;
  background-color: var(--base-white);
  display: flex;
  padding: 1rem;
  gap: 36px;
}
.section-education-container > * {
  flex: 1 1 0;
}
.section-education-container .image {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-education-container .image img {
  height: 100%;
  border-radius: 24px;
}
.section-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 12px;
}
.section-container .section-content ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  text-align: left;
  list-style: none;
  color: var(--base-500);
  padding: 0;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .section-education {
    padding: 56px 16px;
  }
  .section-education-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-education-container > * {
    flex: initial;
  }
}
