.carousel,
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards {
  gap: 24px;
  display: flex;

  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
