.card {
  padding: 12px;
  border-radius: 24px;
  background-color: var(--base-white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  width: 330px;
  display: flex;
  flex-direction: column;
}
.image {
  border-radius: 24px;
}
.card .image {
  border-radius: 20px;
  background-color: var(--primary-color);
  min-width: 256px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .tag {
  color: var(--base-white);
  background-color: var(--secondary-color-blue);
  padding: 8px 16px;
  border-radius: 50px;
  text-align: center;
}
.card .content {
  padding: 16px 0;
  text-align: left;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  flex-grow: 1;
}
.card .content .description {
  justify-self: flex-start;
  color: var(--base-500);
  height: 48px;
  overflow: hidden;
}
.card .tags {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 16px;
  align-self: flex-end;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .card {
    max-width: 85%;
  }
}
