header {
  height: calc(100vh - 72px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 72px;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 224px;
  gap: 8px;
  width: 60%;
}
.hero p {
  align-self: center;
  width: 80%;
  color: var(--base-500);
}
.actions-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  width: 80%;
  align-self: center;
}
.actions-container > * {
  flex: 1 1 0px;
}

@media (max-width: 800px) {
  header {
    padding: 0 16px;
    box-sizing: border-box;
  }
  .hero,
  .actions-container,
  .hero p {
    width: 100%;
  }
  .actions-container {
    flex-direction: column;
  }
  .people3,
  .people4 {
    display: none !important;
  }
  .people1 {
    left: -50px !important;
    bottom: -100px !important;
  }
  .people2 {
    right: -50px !important;
    bottom: -100px !important;
  }
}
@media screen and (max-width: 768px) {
  header {
    margin-top: 48px;
  }
  .actions-container > * {
    width: 100% !important;
  }
}
