header,
.hero {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}
header {
  margin-top: 72px;
  padding: 16px;
  gap: 156px;
}
.hero {
  margin: 0 auto;
  gap: 24px;
}
.hero p {
  color: var(--base-500);
}
.actions-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.actions-container div:first-child {
  flex-grow: 1;
}
.people {
  position: relative;
  height: 150px;
}

@media (min-width: 860px) {
  .hero {
    max-width: 70%;
  }
}

@media (max-width: 1020px) {
  .people3 {
    display: none !important;
  }
  .people2 {
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
  }
}

@media (max-width: 768px) {
  header{
    margin-top: 124px;
    gap: 96px;
  }
  .people{
    display: none;
  }
  .actions-container {
    flex-direction: column;
  }
  .people3,
  .people4 {
    display: none !important;
  }
  .people1 {
    left: -32px !important;
    scale: 0.9 !important;
    bottom: -100px !important;

  }
  .people2 {
    left: 85% !important;
    scale: 0.9 !important;
    bottom: -100px !important;
  }
}
