.carousel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
}
.carousel-buttons {
  background-color: var(--secondary-color-red);
  width: 56px;
  height: 56px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left-button {
  left: 0;
  top: 50%;
}
.right-button {
  right: 0;
  top: 50%;
}
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1248px;

  padding: 16px;
}
.carousel-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: "A0 A1 A2";

  height: 550px;
  width: 1248px;
  overflow-x: hidden;
  position: relative;
}
.carousel-buttons{
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    width: 1180px !important;
  }
  .carousel-buttons {
    width: 48px;
    height: 48px;
  }
  .carousel-item:first-child {
    left: 0;
  }
  .carousel-item:last-child {
    right: 0;
  }
}
