.carousel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.carousel-buttons {
  display: flex;
  justify-content: space-between;
}
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 16px;
}
.carousel-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: "A0 A1 A2";

  height: 156px;
  width: 656px;
  background-color: var(--secondary-color-blue);
  color: var(--base-white);
  overflow-x: hidden;
  position: relative;
}
.carousel-item {
  position: absolute;

  background-color: var(--secondary-color-red);
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item:first-child {
  left: 0;
}
.carousel-item:last-child {
  right: 0;
}
