.section-subscribe {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
.section-subscribe > div {
  flex: 1 1 0;
  min-width: 500px;
  box-sizing: border-box;
}
.image-subscribe {
  background-color: var(--primary-color);
  height: 364px;
  position: relative;
}
.image-subscribe img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.copys-subscribe {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--secondary-color-yellow);
  padding: 56px 48px;
  box-sizing: border-box;
  gap: 24px;
}
.copys-subscribe p {
  color: var(--base-500);
}
.copys-subscribe .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}
.copys-subscribe .actions > * {
}
@media (max-width: 568px) {
  .copys-subscribe {
    padding: 48px 16px;
  }

  .section-subscribe > div {
    text-align: center;
    align-items: center;
    min-width: 100%;
  }
  .actions > * {
    width: 100%;
  }
}
