.section-aboutus {
  display: flex;
  flex-direction: row;
  gap: 48px;
  max-width: 1248px;

}
.section-aboutus > * {
  flex: 1 1 0;
}
.section-aboutus .aboutus-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem;
  text-align: left;
}
.aboutus-image {
  position: relative;
  padding: 1rem;
}
@media (max-width: 768px) {
  .section-aboutus {
    flex-direction: column;
  }
  .aboutus-content {
    padding: 16px;
  }
}
