.section-location {
  /* background-image: url("/images/decoration-BG.png"); */
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  background-color: var(--base-white);
  text-align: left;
  padding: 100px 0 120px 0;
  box-sizing: border-box;
  width: 100%;
  gap: 36px;
}
.section-location > * {
  flex: 1 1 0;
}
.texts h2 {
  color: var(--primary-color) !important;
}
.texts p {
  color: var(--base-500) !important;
}
.section-location .copys-location {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0px 0 0 66px;
  width: 1000px;
}
.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.copys-location p {
  color: var(--primary-color);
}
.copys-location h6 {
  color: var(--base-600);
}
.map-wrapper {
  padding: 0px 66px 0 0;
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  box-sizing: border-box;
}

.map-wrapper > p {
  color: var(--base-500);
}
@media (max-width: 768px) {
  .section-location {
    flex-direction: column-reverse;
    padding: 56px 16px;
    gap: 36px;
    flex: initial;
  }
  .map-wrapper > iframe {
    height: 500px !important;
  }
  .section-location .copys-location {
    text-align: center;
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
  }
  .map-wrapper {
    padding: 0px;
  }
}
