.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.nav-item.active {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 12px;
  gap: 4px;

  /* Neutral/06 */

  background: #272b30;
  color: #fff;
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.4),
    inset 0px 1px 1px rgba(255, 255, 255, 0.11);
  border-radius: 12px;

  /* Inside auto layout */
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
